<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">EDITAR PRODUCTO <%=  %></h2>
			</div>
			<!-- Show the "ultimos" products -->
			<!--<h2 class="col-12" id="agregarProd">Agregar Producto</h2> -->

                <form action="/product/edit/<%= id_producto %>" method="POST" class="form col-6">
                    <div class="form-group">
                        <label class="form-label" for="imagen">Ingrese el nombre de la nueva imagen:</label>
                        <input type="text" name="imagen" class="form-input" placeholder="Ingrese el nombre de su imagen">
                    </div>
                    <div>
                        <label class="form-label" for="nombre">Ingrese cambios en el nombre del producto:</label>
                        <input type="text" name="nombre" class="form-input" placeholder="Ingrese el nombre del producto">
                    </div>
                    <div>
                        <label class="form-label" for="descripcion">Ingrese cambios en la descripción del producto:</label>
                        <input type="text" name="descripcion" class="form-input" placeholder="Ingrese la descripcion del producto">
                    </div>
                    <button type="submit" class="buy-now-button">Editar Producto</button>
                </form>
        </div>
    </div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>

