<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>



<body>
	<!-- Header -->

	<% if (user !== null) { %>
		<%- include('./partials/headerLogueado') %>

	<% } else{ %>
		<%- include('./partials/headerDesLogueado') %>
	<% } %>
	<!-- /Header -->


	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.nombre %></h2> 
			<p class="product-detail-description">
				<a href="/product/edit/<%= producto.id %>">Editar</a>  <!-- Esto tiene q redireccionar a product edit -->
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= producto.imagen %>" alt="" class="product-detail-img"> 
					<p class="product-detail-description">
						<%= producto.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let i = 0; i < producto.comentarios_producto.length; i++) { %>  <!-- cambio todos los lugares donde tenia comentario por comentarios_producto-->
							<article>
								<img src= "/images/users/<%= producto.comentarios_producto[i].usuario_comentario.foto_de_perfil%>" alt=> <!-- foto_Perfil no va mas. pongo usuario_comentario.foto_de_perfil  -->  
								<div class="data">
									<p class="user">
										<strong> <a href="/user/profile%>"> <%= producto.comentarios_producto[i].usuario_comentario.email%> </a> </strong>  <!-- nombreUsuario no va mas. -->
										<%= producto.comentarios_producto[i].texto_comentario %> 
									</p>
								</div>
							</article>
						<% } %>
						

					</section>
					<% if (user != null) { %>
						<form class="form" action="/product/agregar-comentario/<%= producto.id %>" method="post">
							<input class="form-input" type="text" name="comentario" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<form class="form" action="/product/eliminar/<%= producto.id %>" method="post">
							<button type="submit" class="buy-now-button">ELIMINAR PUBLICACIÓN</button>
						</form>
					<% } else { %> 
						<p>Debes estar logueado para comentar.</p>
					<% } %>
					<hr>
				</div>
			</div>
		</div>
	</div>

	

	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>