<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>


<body>
	<!-- Header -->

	<%- include('./partials/headerDesLogueado') %>

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> </h2>

			<form  method="POST" class="claseregistro">
				<%if (locals.errors && errors.email_usuario) { %>
					<p><%= errors.email_usuario.msg %></p>
				<% } %>
				<label>Email:</label><br>
				<input type="email" id="email" name="email" required><br>
				
				<%if (locals.errors && errors.nombre_usuario) { %>
					<p><%= errors.nombre_usuario.msg %></p>
				<% } %>
				<label>Nombre de Usuario:</label><br>
				<input type="text" id="usuario" name="usuario" required><br>
				
				<%if (locals.errors && errors.contraseña_usuario) { %>
					<p><%= errors.contraseña_usuario.msg %></p>
				<% } %>
				<label>Contraseña:</label><br>
				<input type="password" id="contraseña" name="contraseña" required><br>
				
				<%if (locals.errors && errors.fecha_usuario) { %>
					<p><%= errors.fecha_usuario.msg %></p>
				<% } %>
				<label>Fecha de Nacimiento:</label><br>
				<input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required><br>
				
				<%if (locals.errors && errors.dni_usuario) { %>
					<p><%= errors.dni_usuario.msg %></p>
				<% } %>
				<label>Número de Documento:</label><br>
				<input type="number" id="nro_documento" name="nro_documento" required><br>
				
				<%if (locals.errors && errors.foto_usuario) { %>
					<p><%= errors.foto_usuario.msg %></p>
				<% } %>
				<label>Foto de Perfil:</label><br>
				<input type="text" id="foto_perfil" name="foto_perfil"><br>
				
				<input type="submit" value="Registrarse">
			  </form>

			  <p> errores</p>
			  <% if(locals.errors && errors.email) { %>
				<p class="feedback"> <%= errors.email %></p>
			  <% } %>
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>